# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

#visual studo config
.vscode

#dotenv
.env.staging
.env.prod
.env.dev
.env.sandbox
.env.test
.env.prodlocal
.env.local

/dist
.idea/
coverage
